.avatar-clie{
  align-items: center;
  text-align: center;
  border: 1px solid grey;
  padding: 20px;
}
.carta-clie{
  border: 1px solid grey;
  padding: 20px;
  margin-left: 90px;
}
.Dueñocard{
  margin: 30px;
  margin-left: 99px;
}
.botonam{
  margin-top: 160px;
  margin-left: 50px ;
}