.dueño{
    margin: 30px;

.cuerpo{
    border:2px solid $colornegro;
    align-items: center;
    text-align: center;

    .img{
        width: 20px;
        height: 20px;
        color: $colorceleste;
    }
}
.card{
    padding: 10px;
    .card-invitacion{
        margin:20px;
        padding: 10px;
        border: 1px solid $colorceleste;
    }
}
}