html {
  font-size: $font-size-base;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .nav-link{
    font-size: 2.0rem;
  }

  .main {
    flex-grow: 1;
  }
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}