p {
  font-size: $font-size-normal;
  font-family: $font-stack;
  margin: 0 0 10px 0;
  color: $color-texp;
  line-height: 1.5;
}

b {
  font-size: $font-size-normal;
  font-family: $font-stack;
  font-weight: $font-bold;
}

a {
  font-size: $font-size-normal;
  font-family: $font-stack;
  color: $color-texp;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-montserrat;
  font-weight: $font-bold;
  margin: 0 0 20px 0;
  color: $color-texp;
}

h1 {
  font-size: $font-size-h1;
  line-height: 38px;
}

h2 {
  font-size: $font-size-h2;
  line-height: 32px;
}

h3 {
  font-size: $font-size-h3;
  line-height: 30px;
}

h4 {
  font-size: $font-size-h4;
  line-height: 26px;
}

h5 {
  font-size: $font-size-h5;
  line-height: 24px;
}

h6 {
  font-size: $font-size-h6;
  line-height: 22px;
}

.subtitle {
  font-size: $font-size-subtitle;
}

.title {
  font-size: $font-size-title;
  font-weight: $font-bolder;
}

.bold {
  font-weight: $font-bolder;
  font-family: $font-montserrat;
}

p {
  font-size: 1.3rem;
  line-height: 1.8;
}

label{
  font-size: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}