// color
$colornegro:#000000;
$colorblanco:#fff;
$colorceleste:#91d5ff;
$coloramarillo:#fffb00;

/*--font---------------------------------------------------------------*/

$font-stack:  'Helvetica Neue Light',  'Helvetica', ' sans-serif' ;
$font-montserrat: "Montserrat";
$font-arial: "Arial";
$font-size-base: 62.5%; /* 10px*/
$font-size-global: 1.6rem;
$font-size-littlest: 1rem;
$font-size-little: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-normal-big: 1.8rem;
$font-size-big: 2.2rem;
$font-size-bigger: 4rem;
$font-size-biggest: 6rem;
$font-size-subtitle: 3rem;
$font-size-title: 5rem;
$font-size-h1: 3.2rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;
$font-bold: 700;

$font-bolder: 1000;

/*--color---------------------------------------------------------------*/

$color-text:#000;
$color-texp:#b5b5b5;
$color-texd:#a9aca9;

// background-color------------------------------------

$bg-navfoot:#91d5ff;
$bg-white:#fff;
$bg-dark:#e8e8e8;

// color network--------------

$color-networks: (
  instagram: #566cfe,
  twitter: #007ebf,
  github: #000000,
  linkedin: #1a2e88,
  codepen: #000000
);

// color network--------------

$color-instagram:#566cfe; 
$color-twitter: #007ebf;
$color-github: #000000 ;
$color-linkedin: #1a2e88 ;
$color-codepen: #000000 ;

/* layout
---------------------------------------------------------------*/

$layout-desktop: 960px;

/* $mq
---------------------------------------------------------------*/

$mq-tablet: 850px;
$mq-mobile: 740px;
$mq-mobile-sm: 400px;